.modal {
  position: fixed;
  left: 0;
  bottom: 9vh;
  width: 100%;
  background-color: white;
  z-index: 130;
  overflow: auto;
  border-radius: 25px 25px 0 0;
  padding: 1vh;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.resize-handle-top {
  cursor: row-resize;
  height: 10px;
  width: 80vw;
  position: absolute;
  background-color: black;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
}